

*{
    box-sizing: border-box;
}
.demo {
    background-image: linear-gradient( black, rgb(0, 179, 255));
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 60px;
    width: fit-content;
    margin: auto;
    color: black;
    animation: Bookmarker 3s linear infinite;
    -webkit-text-stroke:0.5px #03bcf4;
}
@keyframes Bookmarker {
    0%, 18% , 20% , 50.1% , 60% , 65.1% ,80% , 90.1% ,92%{
        color: black;
        text-shadow: none;
    }
    18.1% , 20.1% ,30%, 50% , 60.1% , 65% ,80.1% , 90% ,92.1%,100%{
        color: white;
        text-shadow:
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
    }
}

p {
    font-weight: 600;
    font-size: 30px;
}
.btn{
    width: 130px;
}
.fa-bookmark{
font-size: 30px;
}
a {
   text-decoration: none;

   color: white;
}
.fa-trash{
    color:#03bcf4;
    width:auto;
}
.fa-eye{
color:#03bcf4 ;
width:auto;
}
